%div{ 'ng-controller': :SearchController }

  .form-group
    %label.control-label Search input
    %input.form-control{ type: :text, id: 'search_input', 'ng-model': 'nytimesForm.seach_input' }

  .form-group
    %label.control-label Your email
    %input.form-control{ type: :text, 'ng-model': 'nytimesForm.user_email' }

  %input.btn.btn-default{ type: :button, value: 'Make request', 'ng-click': 'sendMeEmail()' }

  %br
  %br

  = image_tag('spinner.gif', { class: 'spinner', style: 'text-align: center;', 'ng-hide': 'spinnerHidden'})

  %br

  %label Output
  %br

  %ol
    %li{ 'ng-repeat': '(key, value) in nytimesForm.search_results' }
      %a{ href: '{{ value.web_url }}' }
        %h2 {{ value.headline.main }}
      %h5 {{ value.snippet }}
      %img{ src: 'https://static01.nyt.com/{{ value.multimedia[0].url }}', style: 'height: {{ value.multimedia[0].height }}; width: {{ value.multimedia[0].width }}' }
    %br



