.form-group
  %label.control-label Search input
  %input.form-control{ type: :text, 'ng-model': 'nytimes_form.seach_input' }

.form-group
  %label.control-label Your email
  %input.form-control{ type: :text, 'ng-model': 'nytimes_form.user_email' }

%input.btn.btn-default{ type: :button, value: 'Make request' }

%br
%br

%label Output
%br