%div{ 'ng-controller': :SearchController }

  .form-group
    %label.control-label Search input
    %input.form-control{ type: :text, 'ng-model': 'nytimesForm.seach_input' }

  .form-group
    %label.control-label Your email
    %input.form-control{ type: :text, 'ng-model': 'nytimesForm.user_email' }

  %input.btn.btn-default{ type: :button, value: 'Make request', 'ng-click': 'getResult()' }

  %br
  %br

  %label Output
  %br

  {{ count }}

  {{ nytimesForm.seach_input }}

  %br

  {{ nytimesForm.search_results }}